<div class="postal-code-card">
  <h1>Internet</h1>
  <div class="search-tariff-form">
    <form (ngSubmit)="searchTariffs()">
      <input [(ngModel)]="postalCode" name="redditSearch" type="text" placeholder="Postal code">
    </form>
    <img class="i-search" (click)="searchTariffs()" src="/assets/img/i-search.png" alt="Search">
  </div>

  Select Internet Speed
  <div class="internet-speed-container">
    <div class="internet-speed-card">16 Mbit/s</div>
    <div class="internet-speed-card">50 Mbit/s</div>
    <div class="internet-speed-card">100 Mbit/s</div>
    <div class="internet-speed-card">250 Mbit/s</div>
  </div>

  <button>COMPARE NOW</button>
</div>

<div class="tariffs-content">
  <div class="tariffs-content-header">
    <h1>Determined Tariffs</h1>
    <div>Type of connection:</div>
    <div>Sorted by:</div>
  </div>

  <div *ngFor="let provider of (tariffs$ | async)?.providers" class="tariff-card">
    <div class="w-20">
      <h3>{{ provider.name }}</h3>
    </div>
    <div class="w-35">
      <h4>Tariff Type</h4>
      <div class="row">
        <img class="i-download" src="/assets/img/download-icon.svg" alt="Download Icon">
        {{ provider.download_speed }} Mbit/s
        <mat-progress-bar class="download" mode="determinate" value="{{ provider.download_speed }}"></mat-progress-bar>
      </div>
      <div class="row">
        <img class="i-upload" src="/assets/img/upload-icon.svg" alt="Upload Icon">
        {{ provider.upload_speed }} Mbit/s
        <mat-progress-bar class="upload" mode="determinate" value="{{ provider.upload_speed }}"></mat-progress-bar>
      </div>
      <div class="row" *ngFor="let benefit of provider.benefits">
        <img class="i-checked" src="/assets/img/checked-icon.svg" alt="Checked Icon">
        Tariff Benefit {{ benefit }}
      </div>
    </div>
    <div class="w-45 tariff-plan-info">
      <div class="price-label">{{ provider.price }} €</div>
      <div>Avarage price for month</div>
      <div>({{ provider.contract_period }} months)</div>
      <div class="tariff-plan-actions">
        <button>TARIFF DETAILS</button>
        <button>TO TARIFF</button>
      </div>
    </div>
  </div>
</div>
