.tariffs-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  width: 60rem;
  color: #666666;

  .tariffs-content-header {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
    }
  }

  select {
    margin: 0 0.4rem;
    padding: 0.6rem 1.2rem;

    &:hover {
      cursor: pointer;
    }
  }
}
