.tariffs-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  max-width: 60rem;
  color: #666666;

  .tariffs-content-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    margin-bottom: .5rem;

    @media (min-width: 750px) {
      flex-direction: row;
    }

    div {
      display: flex;
      align-items: center;
    }
  }

  select {
    margin: 0 0.4rem;
    padding: 0.6rem 1.2rem;

    &:hover {
      cursor: pointer;
    }
  }
}
