.postal-code-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  width: 20rem;
  height: 15rem;
  color: #666666;
  border: solid 1px #DCDCDCFF;

  h1 {
    text-align: center;
  }
}

.search-tariff-form {
  display: flex;
  position: relative;
  justify-content: center;
  padding-bottom: 0.8rem;

  input {
    width: 16rem;
    padding: .8rem;
  }
}

.internet-speed-container {
  display: flex;
  justify-content: space-between;
  margin-top: .2rem;
  margin-bottom: .8rem;

  .internet-speed-card {
    display: flex;
    width: auto;
    padding: 0.5rem .8rem;
    height: 1.5rem;
    border: solid 1px #DCDCDCFF;
    color: #000000;
    font-size: .8rem;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: #e6f3ff;
    }

    &.selected {
      background-color: #3399ff;
    }
  }
}

button {
  display: flex;
  justify-content: center;
  padding: .5rem;
  color: #666666;
  background-color: #e6f3ff;
  border-radius: 3px;
  border: solid 1px #666666;
  gap: .3rem;

  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  &:hover:enabled {
    cursor: pointer;
    color: #000000;
    background-color: #cce6ff;
  }
}

.tariffs-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  width: 60rem;
  color: #666666;

  .tariffs-content-header {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
    }
  }

  select {
    margin: 0 0.4rem;
    padding: 0.6rem 1.2rem;

    &:hover {
      cursor: pointer;
    }
  }

  .tariff-card {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 1rem auto;
    width: 60rem;
    min-height: 15rem;
    color: #666666;
    border: solid 1px #DCDCDCFF;

    .i- {
      &upload, &download, &checked {
        display: block;
        width: 20px;
      }

      &arrow-down {
        display: block;
        width: 16px;
      }
    }
  }
}

$widths: (
  "w-20": 20%,
  "w-35": 35%,
  "w-45": 45%,
);

@each $width, $value in $widths {
  .#{$width} {
    width: $value;
    padding: .6rem;

    &:not(:last-child) {
      border-right: 1px solid #DCDCDCFF;
    }
    h3 {
      text-align: center;
    }
  }
}

:host {
  .row {
    display: flex;
    gap: 6px;
    margin: 0.4rem 0;
    font-size: .8rem;

    mat-progress-bar {
      margin-top: 5px;
    }

    .download ::ng-deep .mdc-linear-progress__bar-inner {
      border-color: #00cc44 !important;
    }

    .upload ::ng-deep .mdc-linear-progress__bar-inner {
      border-color: #33d6ff !important;
    }

    .speed-label {
      width: 8rem;
    }
  }
}

.tariff-plan-info {
  align-self: flex-end;
  text-align: end;

  .price-label {
    font-size: 2rem;
    font-weight: 700;
  }

  .tariff-plan-actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    gap: 1rem;
  }
}
