<search-tariff-form (triggerFiltering)="searchTariffs($event)"></search-tariff-form>

<div class="tariffs-content">
  <div class="tariffs-content-header">
    <h1>Determined Tariffs</h1>
    <div>
      Type of connection:
      <select [formControl]="tariffTypeForm">
        <option [value]="''" selected>All</option>
        <option *ngFor="let option of tariffTypeOptions" [value]="option.value">{{ option.value }}</option>
      </select>
    </div>
    <div>
      Sorted by:
      <select [formControl]="tariffSortingForm">
        <option *ngFor="let option of tariffSortingOptions"
                [ngValue]="option">
          {{ option.name }}: {{ option.order }}
        </option>
      </select>
    </div>
  </div>

  <ng-container *ngIf="(providers$ | async)?.length; else noResults">
    <provider-item *ngFor="let provider of providers$ | async | tariffSort: sortingSettings"
                   [provider]="provider"></provider-item>
  </ng-container>

  <ng-template #noResults>No Tariff is available for requested specifications</ng-template>
</div>
