<div *ngIf="provider" class="tariff-card">
  <div class="w-20">
    <h3>{{ provider.name }}</h3>
  </div>
  <div class="w-35">
    <h4>Tariff Type</h4>
    <div class="row">
      <img class="i-download" src="../../../assets/img/download-icon.svg" alt="Download Icon">
      <div class="speed-label">{{ provider.download_speed }} Mbit/s</div>
      <mat-progress-bar class="download" mode="determinate" value="{{ provider.download_speed }}"></mat-progress-bar>
    </div>
    <div class="row">
      <img class="i-upload" src="../../../assets/img/upload-icon.svg" alt="Upload Icon">
      <div class="speed-label">{{ provider.upload_speed }} Mbit/s</div>
      <mat-progress-bar class="upload" mode="determinate" value="{{ provider.upload_speed }}"></mat-progress-bar>
    </div>
    <div class="row" *ngFor="let benefit of provider.benefits">
      <img class="i-checked" src="../../../assets/img/checked-icon.svg" alt="Checked Icon">
      {{ getTariffBenefitName(benefit) }}
    </div>
  </div>
  <div class="w-45 tariff-plan-info">
    <div class="price-label">{{ provider.price }} €</div>
    <div>Avarage price for month</div>
    <div>({{ provider.contract_period }} months)</div>
    <div class="tariff-plan-actions">
      <button [ngClass]="{ 'active': showTariffDetails }" (click)="showTariffDetails = !showTariffDetails">
        <span>TARIFF DETAILS</span>
        <img class="i-arrow-down" src="../../../assets/img/arrow-down.svg" alt="Details">
      </button>
      <tariff-details *ngIf="showTariffDetails"
                      [provider]="provider"
                      [benefits]="benefits"></tariff-details>
    </div>
  </div>
</div>
